body {
}

.header {
    background-color: #000;
    color: #fff;
  }

  element.style {
    width: 12rem;
}

  .h1, h1 {
    color: darkcyan;
    font-size: 65px;
}
p {
    margin-top: 12px;
    margin-bottom: 1rem;
    color: #084298;
    font-size: 14px;
    text-align: center;
}
.card-title {
    margin-bottom: 0.5rem;
    text-align: center;
}

  .bg-light {
    --bs-bg-opacity: ;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;

}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #084298;
}


.navbar-light .navbar-nav .nav-link {
    color: #084298;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #084298;
}

.navbar-light .navbar-toggler-icon {
    background-color: none;
    color: #fff;
    display: inherit;
}

.navbar-light .navbar-toggler {
    color: aliceblue;
    border-color: aliceblue;
    background-color: #fff;
}

.card {
    margin-left: 120px;
}

.panel-footer.panel-custom {
    background-color: #000;
    color: #fff;
    text-align: center;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

p {
    text-align: justify;
}